@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: unset;
  color: unset;
}
.image-area::-webkit-scrollbar {
  display: none;
}
.image-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #000;
}
.home-region {
  background-color: #000;
}
.top-region {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}
.top-region img {
  width: 20%;
}
.top-region h3 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding-left: 25rem;
  padding-right: 25rem;
}
.top-region p {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding-top: 2.5rem;
}
.top-region button {
  color: #ffffff;
  background-color: #191919;
  outline: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 1rem 1.7rem;
  border-radius: 15px;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.top-region button:hover {
  background-color: #ffffff;
  color: #191919;
}
.empty {
  border: 0.2px solid #232323;
  margin-top: 4rem;
}
.social-area {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-area h4 {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.social-media img {
  cursor: pointer;
}
.image-area {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
  overflow-x: auto;
}
.imageee {
  width: 25rem;
}
.imageee img {
  width: 25rem;
  object-fit: contain;
}
@media screen and (min-width: 1400px) {
  .top-region h3 {
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: 1.5rem;
  }
  .image-area {
  }
  .imageee {
    width: 100%;
  }
  .imageee img {
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 1100px) {
  .top-region h3 {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
@media screen and (max-width: 950px) {
  .top-region h3 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media screen and (max-width: 900px) {
  .top-region h3 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (max-width: 700px) {
  .top-region h3 {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 0.8rem;
    line-height: 20px;
  }
  .imageee {
    width: 15rem;
  }
  .imageee img {
    width: 15rem;
    object-fit: contain;
  }
}
